<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Rólunk</h3>
        </div>

        <div class="post__container__body clearfix">
            <p class="post__container__body__p"><span class="post__text--emphasize">Következzen most pár sor magunkról, hogy megismerjetek minket, valamint mert a kollégám/társam/barátom mondta, hogy legyen egy ilyen rész is.</p>
            <p class="post__container__body__p">Két teljesen átlagos Budapesti srác vagyunk, mindketten egyetemet végeztünk melynek végeztével  - különböző okokból - úgy döntöttünk, hogy egy meghatározott időt külföldön szeretnénk élni/dolgozni.</p>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__body clearfix">
            <p class="post__container__body__p"><span class="post__text--emphasize">Sándor, az egyetem után két évig dolgozott egy Skóciai hotelben, valamint hajón Németországban. </p>
            <p class="post__container__body__p">Ezek után kipróbálta magát a vendéglátásban Irországban, ahol további két évet töltött el. </p>
            <p class="post__container__body__p">Motivációja nem volt más mint kicsit világot látni, pénzügyi tartalákot képezni, hogy belevághasson egyéni ötletei megvalósításához.</p>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__body clearfix">
            <p class="post__container__body__p"><span class="post__text--emphasize">Ábel az egyetem elvégzése után, a szükséges nyelvvizsga megszerzése érdekében kezdett el Ausztriában dolgozni. </span></p>
            <p class="post__container__body__p">Ez az első szezon után sikerült is, hisz az ausztriai élet nagyban hozzájárul, a német nyelvismeret elsajátításához. Azóta is kint dolgozik.</p>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Felmerülhet a kérdés miért csináljuk ezt?</h3>
        </div>

        <div class="post__container__body clearfix">
            <p class="post__container__body__p"><span class="post__text--emphasize">Három szóban válaszolnék: <i class="fas fa-angle-double-right"></i>NEKÜNK EZ BEJÖTT! <i class="fas fa-angle-double-left"></i></span></p>
            <p class="post__container__body__p">Tényleg működik, ezért úgy gondoltuk miért ne segíthetnénk másoknak is elérni a céljaikat?</p>
            <p class="post__container__body__p">Dolgozni nem tudunk helyetted, nem is azt mondjuk, hogy nincs negatív oldala, de csak az érheti el a céljait aki hajlandó tenni érte. Mi nekik segítünk.</p>
            <p class="post__container__body__p"><span class="post__text--emphasize">Nem egy budapesti irodából adjuk a tanácsokat, úgy, hogy sosem voltunk még külföldön.</span> Jelenleg is kint dolgozunk, ismerjük a buktatókat, a felmerülő problémákat és ami a legfontosabb: <span class="post__text--emphasize">Tudunk segíteni !</span></p>
            <p class="post__container__body__p">Szóval keress fel minket, kérdezz (!) tudjuk miről beszélünk!!!</p>
            <p class="post__container__body__p post__text--strong">Köszönjük ha végigolvastad ezt a pár sort, remélem segített.</p>
        </div>
    </div>
</div> <!-- post end -->