<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Itt Egy Lehetoseg Arra, Hogy Elhelyezkedj Ausztriaban</h3>
        </div>

        <div class="post__container__body clearfix">
            <div class="post__container__body__vector">
                <div class="post__container__body__vector__chef-n post__container__body__vector__chef-n--higher"></div>
            </div>
            <p class="post__container__body__p"><span class="post__text--emphasize">Kérlek, hogy most pár percre csak rám figyelj</span>, mert ez egy komoly lehetőség!</p>
            <p class="post__container__body__p">Ha hiszed, ha nem, <span class="post__text--emphasize">akár egy-két héten belül Ausztriában dolgozhatsz egy szállodában</span>, mint mosogató, konyhai kisegítő, szobalány, szakács, felszolgáló.</p>
            <p class="post__container__body__p">Ausztriában egy mosogató is legalabb <span class="post__text--emphasize">nettó 300 - 360 ezer forintot</span> keres ha nem többet!!</p>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Ezt Nyújtja Neked A Mi PROGRAMUNK:</h3>
        </div>

        <div class="post__container__body clearfix">
            <li class="post__container__body__li"><i class="fas fa-check"></i>Nem neked kell majd allashirdeteskre jelentkezni, hanem <i class="fas fa-arrow-circle-down"></i></li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Miutan jelentkeztel hozzank, <span class="post__text--emphasize">tobb ezer osztrak hotel fog ertsulni a palyazasodrol</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Ezek utan <span class="post__text--emphasize">nem neked kell majd keresni az állásajánlatoknak</span>, hanem azokat Te kapod majd meg!</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Képességeidhez mérten <i>(milyen munkakörbe jelentkezel)</i><span class="post__text--emphasize">minimum havi nettó 1.100 euró fizetés</span>.</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>A szallast a hotel biztositja majd, ezert a <span class="post__text--emphasize">fizetesed tulnyomo reszet felre tudod majd rakni</span>.</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i><span class="post__text--emphasize">Proba-Interjuztatunk teged</span>, hogy mar felkeszult legyel amikor elesben beszelsz egy munkaltatoval.</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i><span class="post__text--emphasize">Professzionalis német nyelvű önéletrajzot keszitunk neked.</span></li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Segitunk a nemet nyelvtannal es szavakkal amikre a munkad es az interjuk soran szukseged lessz.</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>A sikerdijunkat csak az elso osztrak fizetesed kezhezvetele utan kell fizetni, addig <span class="post__text--emphasize"> a szolgaltatasunk ingyenes, nem veszithetsz semmit</span></li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Felkeszitunk teged a pozicoban ellatando feladataidra.</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>A következő munakörök betöltésében tudunk segíteni: <span class="post__text--strong"> házmester, mosogató, konyhai kisegítő, szakács, szobaasszony, felszolgáló.</span>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Meg Egyszer Amit NYERSZ Velunk:</h3>
        </div>

        <div class="post__container__body clearfix">
            <div class="post__container__body__vector">
                <div class="post__container__body__vector__waiter-n post__container__body__vector__waiter-n--higher"></div>
            </div>
            <li class="post__container__body__li"><i class="fas fa-euro-sign"></i>Havi <span class="post__text--emphasize">legalább nettó 1100 EUR</span> fizetésed lesz.</li>
            <li class="post__container__body__li"><i class="fas fa-euro-sign"></i><span class="post__text--emphasize">Rengeteg penzt fogsz tudni megsporolni</span>, mivel ha hotelben dolgozol a szallast es etkezest a hotel altalaban allja ezert nem lesznek jelentos koltsegeid</li>
            <li class="post__container__body__li"><i class="fas fa-euro-sign"></i>300.000 forintot is konnyeden meg lehet takaritani egy Ausztriai hotelben</p>
            <li class="post__container__body__li"><i class="fas fa-check"></i>A programunk reven <span class="post__text--emphasize">nem kell majd allashirdetesre jelentkezz</span>, hanem a Te saját email fiókodba kapod a konkrét állásajánlatokat – nem pedig az álláshirdetéseket, mert abból van az interneten bőven...</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Par ora leforgasa alatt, <span class="post__text--emphasize">tobb ezer osztrak hotel fog ertesullni tolunk a te allaskeresedrol</span>.</li>
            <li class="post__container__body__li"><i class="fas fa-check"></i>Jó esetben több vonzó ajánlat közül választhatod ki a számodra legmegfelelőbbet, DE <span class="post__text--emphasize">legalább 1 db konkrét, Neked szóló munkahelyet garantálunk</span>, ha a tanácsaink szerint jársz el!</li>
            <li class="post__container__body__li"><i class="fas fa-lightbulb"></i><span class="post__text--emphasize">Nem kell majd izgulj az allasinterjuk elott </span>mert, mi majd felkeszitunk ra.</li>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Most jogosan teszed fel a kérdést magadnak, mégis hogy zajlik a pályáztatás?</h3>
        </div>

        <div class="post__container__body clearfix">
            <p class="post__container__body__p">A már fent említett németnyelvű önéletrajz elkészítése után, es <span class="post__text--emphasize">miutan felkeszitettunk teged az interjuzasra, kezdjük meg a pályáztatásod.</span></p>
            <p class="post__container__body__p">Ez röviden annyit jelent hogy elérjük hogy több ezer ausztriai munkaado értesüljön Rólad.</p>
            <p class="post__container__body__p">Bárkit megkérdezhetsz <span class="post__text--emphasize">az ausztriai szállók szinte folyamatosan munkaerőhiánnyal küzködnek.</span> Mit jelent ez a Te számodra ?</p>
            <p class="post__container__body__p">Körülbelül 48 óra leforgása alatt értesülnek, hogy van igény(ed) a munka betöltésére, ezek után már Ők fognak Téged megkeresni !</p>
            <p class="post__container__body__p"><span class="post__text--emphasize">Ezert van, hogy a pályáztatás és a munkábaállás között összesen két hét sem telik el.</span></p>
            <p class="post__container__body__p">A további előnye ha minket választasz, hogy <span class="post__text--emphasize">olyan munkaadókat is elérünk akik online nem hírdetik a betöltetlen állásaikat</span>, vagyis máris nagyobb a merítés amiből jobb esetben válogathatsz.</p>
            <p class="post__container__body__p">Mi biztosítunk számodra legalább egy olyan helyet ahol Te kellesz, és mindehez <span class="post__text--emphasize">csak annyi kell hogy bízz bennünk és engedd hogy segítsünk megtalálni a neked való munkahelyet.</span></p>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Pályázz most! Töltsd ki az alul lévő űrlapot és küldd be a Jelentkezesed!</h3>
        </div>

        <div class="post__container__body clearfix">
            <div class="post__container__body__vector">
                <div class="post__container__body__vector__chef-lady-n"></div>
            </div>
            <p class="post__container__body__p"><span class="post__text--emphasize">Ha ugy erzed, hogy anyagilag nem tudsz egyrol a kettore lepni</span> es elszántad magad, hogy javítasz a helyzeteden ne varj tovabb, hanem <span class="post__text--emphasize">gorgess le az alul levo urlapoig es kuld el nekunk az adataidat.</span></p>
            <p class="post__container__body__p">Készülj fel rá, hogy a jelentkezesed beküldése után kollégáim fel fognak hívni a telefonos interjú időpontjának egyeztetése céljából. Ne feledd! Ez számunkra felelősséggel jár...</p>
            <p class="post__container__body__p"><span class="post__text--emphasize">Nekunk is csak abbol szarmazik nyeresegunk, ha teged felvesznek dolgozni</span> es az elso honap munka utan megkapod az elso fizetesed.</p>
            <p class="post__container__body__p">Ezert Mi majd MEGDOGLUNK majd azert, hogy fel vegyenek dolgozni.<i class="fas fa-smile"></i></p>
            <p class="post__container__body__p"><span class="post__text--emphasize">Mindekepp a Közös cél vezérel</span>, és pedig az, hogy mielőbb munkába állj Ausztriában! Ez logikus, nem?</p>
            <p class="post__container__body__p">Elégedett leszel, lessz sok megtakaritasod és tovább ajánlasz minket barátaidnak, ismerőseidnek. Elore is koszonjuk!</p>
        </div>
    </div>
</div> <!-- post end -->

<div class="post">
    <div class="post__container">
        <div class="post__container__header">
            <h3 class="post__container__header__h3 post__container__header__h3--centered">Miért most pályázz ???</h3>
        </div>

        <div class="post__container__body clearfix">
            <li class="post__container__body__li"><span class="post__text--emphasize">Ki ne szeretne több mint 300.000 forintot keresni nettó</span>, támogatni a családot, házra, kocsira gyűjteni.</li>
            <li class="post__container__body__li">Csak egy nyelvvizsga hiányzik a diplomádhoz? Ez a tökéletes megoldás számodra is, dolgozz <span class="post__text--emphasize">külföldön garantált a gyors nyelvi fejlődés, es meg fizetnek is erte!!</span></li>
            <li class="post__container__body__li">Ne felejtsd nem Te vagy az egyetlen aki kint szeretne dolgozni.</li>
            <li class="post__container__body__li"><span class="post__text--emphasize">FIZESS CSAK AZ ELSŐ FIZETÉSED UTÁN!!!!</span> .... nem kell előre fizetned, csak akkor kell a szolgáltatásunk díját kifizetned ha már felvettek, és megkaptad az első teljes fizetésed!!</li>
            <li class="post__container__body__li">Ne halogasd, hanem cselekedj. Egy Pató Pál Úr sem javított még soha a saját vagy mások helyzetén, <span class="post__text--emphasize">NE legyél Te is Pató Pál!!</span></li>
        </div>
    </div>
</div> <!-- post end -->