<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/_head.ejs %>
</head>
<body>
    <% include ../../partials/_navbar.ejs %>

    <section class="container-fluid main">
        <div class="row" title="add pages area">
            <div class="col-12 offset-md-1 col-md-10">
                <% include ../../partials/_flash-messages.ejs %>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 offset-md-1 col-md-10 mt-2">
                <% if (pageId === 'edit-article') { %>
                    <h1>Edit</h1>
                <% } else { %>
                    <h1>Create An Article</h1>
                <% } %>
                <% include ../../partials/_create-edit-article-form.ejs %>
            </div>
        </div>
    </section>

    <% include ../../partials/_footer.ejs %>
    <% include ../../partials/_scripts.ejs %>
</body>
</html>