<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_head.ejs %>
</head>
<body>
    <% include ../partials/_navbar.ejs %>

    <section class="container-fluid main">
        <div class="row" title="add pages area">
            <div class="col-12 offset-md-2 col-md-8">
                <img class="img-fluid" src="/img/chuck-norris-found-page-404.jpg" alt="">
            </div>
        </div>
    </section>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>