<form class='add-article-category-form' action="<%= postDataToRoute %>" method="post">
    <% if (typeof articleCategoryName !== 'undefined' && pageId === 'edit-article-category') { %>
        <input type="text" name="currArticleCategoryName" value='<%= articleCategoryName %>' hidden>
    <% } else { articleCategoryName = '' } %>

    <div class="form-group">
        <label for="#page-title">New Article Categorie</label>
        <input type="text" class="form-control" id="article-category-name" name='articleCategory' value='<%= articleCategoryName %>'>
    </div>
    
    <% if (pageId === 'create-article-category') { %>
        <button type="submit" class="btn btn-primary">Create Article Categorie</button>
    <% } else if (pageId === 'edit-article-category') { %>
        <button type="submit" class="btn btn-primary">Update Article Categorie</button>
    <% } %>
</form>