<% categs = articleData.articleCategories %>
<% categs.forEach(function(categ) { %>
    <% if (categ.checked === "checked") { %>
        <span class="badge badge-success"><%= categ.articleCategoryName %></span>
      <% } %>
<% }); %>