<%if (typeof flashMsgs !== 'undefined') { %>
    <div class="flash messages">
        <% flashMsgs.forEach(function(flasMsg) { %>
            <div class="mt-2 alert alert-<%= flasMsg.type %> alert-dismissible fade show mb-2" role="alert">
    
                <%= flasMsg.msg %>
                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }); %>
    </div>
<% } %>
