<div title="register-form">
    <div title="register-form__title">
        <h3>Register</h3>
    </div>

    <form class="" action="/register/post-register-data" title="register-form__form" method="post">
        <div class="form-group">
            <label for="inputEmail">Name</label>
            <input type="text" class="form-control" id="inputEmail" name='name' aria-describedby="enter your name" placeholder="enter your name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="inputName">Email address</label>
            <input type="email" class="form-control" id="inputName" name='email' aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPasswor" name='password' placeholder="Password">
        </div>

        <div class="form-group">
            <label for="inputPassworConf">Confirm Your Password</label>
            <input type="password" class="form-control" id="inputPassworConf" name='passwordConf' placeholder="Password Confirmation">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="inputRegisterToNewsletter">
            <label class="form-check-label" for="inputRegisterToNewsletter">Register To Newsletter</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit Registration</button>

        <a href="/login/google-login" class="btn btn-alert">Continue With Google</a>
    </form>
</div>