<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-btm-12 col-xs-4 col-md-offset-1 col-gutter-md-right">
                <div class="footer__info-item">
                    <img class="footer__info-item__img" src="/img/logo/logo.png" alt="logo">  
                </div>
            </div>

            <div class="col-btm-12 col-xs-4 col-gutter-md-left">
                <div class="footer__info-item">
                    <h4 class="footer__info-item__title">Elérhetőség</h4>
                    <ul class="footer__info-item__ul">
                        <li><strong>Email:</strong> bgfkszmsdeli@gmail.com</li>
                        <li><strong>tel:</strong> 0630 58399 44</li>
                    </ul>
                </div>
            </div>

            <div class="col-btm-12 col-xs-3">
                <div class="footer__info-item">
                    <h4 class="footer__info-item__title">Linkek</h4>
                    <ul class="footer__info-item__ul">
                        <li><a class="footer__info-item__ul__a" href="#">About Us</a></li>
                        <li><a class="footer__info-item__ul__a" href="#">Blog</a></li>
                        <li><a class="footer__info-item__ul__a" href="#">Impressum</a></li>
                    </ul>
                </div>
            </div>

        </div> <!-- row end -->
    </div> <!-- contianer end -->
</footer>