<div class="communication ask-us">
    <div class="communication__header">
        <h3 class="communication__header__h3 communication__header__h3--centered">Kérdezz tőlünk bátran</h3>
    </div>

    <div class="communication__flash-msgs"></div>
    
    <div class="communication__form">
        <input class="communication__form__input" type="text" name="name" placeholder="teljes neved">
        <input class="communication__form__input" type="text" name="email" placeholder="e-mail címed">
        <input class="communication__form__input" type="text" name="phoneNumber" placeholder="telefonszamod">
        <textarea class="communication__form__text-area" name="question" cols="30" rows="10" placeholder="Ha barmi kerdesed van irj nekunk itt es mi maximum par oran belul valaszolunk neked"></textarea>
        <button type="button" class="btn btn--block communication__form__btn">Kuld el a kerdesed:)</button>
    </div>
</div>