<div class="pagination clearfix">
    <% if (paginationObjs.prevPageObj) { %>
        <div class="pagination__left">
            <a href="<%= paginationObjs.prevPageObj.link %>" class="btn btn--block pagination__btn">
                <i class="fas fa-arrow-left"></i>
                <%= paginationObjs.prevPageObj.text %>
            </a>
        </div>
    <% } %>

    <% if (paginationObjs.nextPageObj) { %>
        <div class="pagination__right">
            <a href="<%= paginationObjs.nextPageObj.link %>" class="btn btn--block pagination__btn">
                <%= paginationObjs.nextPageObj.text %>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    <% } %>
</div>