<div class="bg-dark">
    <div class="container">
        
        <nav class="navbar navbar-expand-md navbar-dark text-light">
            <a class="navbar-brand" href="/admin">Austria Recruitment Cms</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Articles
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/articles">Articles List</a>
                            <a class="dropdown-item" href="/admin/article/publish">Create Article</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Articles Categories
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/article-categories">Article Categories List</a>
                            <a class="dropdown-item" href="/admin/article-categorie">Create Article Categorie</a>
                        </div>
                    </li>

                    <% if (securedNavLinks) { %>
                        <% securedNavLinks.forEach(function(linkObj) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= linkObj.ep %>"><%= linkObj.text %></a>
                            </li>
                        <% }); %>
                    <% } %>
                </ul>
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"><%= userName %></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/auth/log-out">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav> 
        
    </div>
</div>