<!DOCTYPE html>
<html lang="en">
<% include partials/_blog-head.ejs %>  
<body>
    <% include partials/_blog-navbar.ejs %>  

    <section class="container">
        <div class="row">
            <% include partials/_logo-stripe.ejs %>  
        </div>
    </section>

    <% include partials/_jumbotron.ejs %>  

    <section class="container main-info-area">
        <div class="row">

            <div class="info-feed col-btm-12 col-gutter-z-btm-both col-gutter-n-sm-both col-md-8">
                
                <div class="post">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h3 class="post__container__header__h3 post__container__header__h3--centered">Itt Egy lehetoseg arra, hogy elhelyezkedj Ausztriaban</h3>
                        </div>

                        <div class="post__container__body clearfix">
                            <div class="post__container__body__vector">
                                <div class="post__container__body__vector__chef-n post__container__body__vector__chef-n--higher"></div>
                            </div>
                            <p class="post__container__body__p post__container__body__p--justified">Kérlek, hogy most pár percre csak rám figyelj, mert ez egy komoly lehetőség. Ha hiszed, ha nem, akár egy-két héten belül Ausztriában dolgozhatsz egy szállodában, mint mosogató/konyhai kisegítő/szobalány/szakács/felszolgáló. Biztos lenne hozzá kedved, hiszen ezért jelentkeztél hozzánk...</p>
                            <p class="post__container__body__p post__container__body__p--justified">Vágjunk is bele, mert nem szeretném az idődet rabolni!</p>
                            <p class="post__container__body__p post__container__body__p--justified">Ha legalább a megértetés szintjén kommunikálsz németül és akkor sem futamodsz meg, ha telefonon kell egy osztrák munkaadóval beszélgetned, akkor velünk biztosan célba érsz!</p>
                        </div>
                    </div>
                </div> <!-- post end -->

                <div class="post">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h3 class="post__container__header__h3 post__container__header__h3--centered">Itt Ezt nyújtja neked a Mi PROGRAMUNK</h3>
                        </div>

                        <div class="post__container__body clearfix">
                            <div class="post__container__body__vector">
                                <div class="post__container__body__vector__waiter-n post__container__body__vector__waiter-n--higher"></div>
                            </div>
                            
                            <p class="post__container__body__p post__container__body__p--justified">Kérlek, hogy most pár percre csak rám figyelj, mert ez egy komoly lehetőség. Ha hiszed, ha nem, akár egy-két héten belül Ausztriában dolgozhatsz egy szállodában, mint mosogató/konyhai kisegítő/szobalány/szakács/felszolgáló. Biztos lenne hozzá kedved, hiszen ezért jelentkeztél hozzánk...</p>
                            <p class="post__container__body__p post__container__body__p--justified">Vágjunk is bele, mert nem szeretném az idődet rabolni!</p>
                            <p class="post__container__body__p post__container__body__p--justified">Ha legalább a megértetés szintjén kommunikálsz németül és akkor sem futamodsz meg, ha telefonon kell egy osztrák munkaadóval beszélgetned, akkor velünk biztosan célba érsz!</p>
                        </div>
                    </div>
                </div> <!-- post end -->

            </div> <!-- info-feed end -->

            <aside class="widgets col-btm-12 col-gutter-z-btm-both col-gutter-n-sm-both col-md-4 col-gutter-n-md-right col-gutter-z-md-left">
                <% include partials/_communication.ejs %>
            </aside>

        </div> <!-- row -->
    </section> <!-- main-info-area end -->

    <% include partials/_blog-footer.ejs %>
    <% include partials/_modal.ejs %>
    <% include partials/_blog-scripts.ejs %>
</body>
</html>