<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .kocka2 {
            width: 100px;
            height: 40px;
            background-color: aqua;
            display: inline-block;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="kocka">
        <div class="kocka2"></div>
        <div class="kocka2"></div>
        <div class="kocka2"></div>
    </div>
</body>
</html>