<!-- 
    <% 
        articlesByCategoryArr = articleData.articlesByCategoryArr;
        navLinks = articleData.navLinks;
    %>
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Poppins:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/hotel-list-view-bundled.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <section>
        <nav class="blog-navbar">
            <div class="blog-navbar__hamburger">
                <div class="blog-navbar__hamburger__relative-cont">
                    <div class="blog-navbar__hamburger__relative-cont__background"></div>
                    <div class="blog-navbar__hamburger__relative-cont__icon">
                        <div class="blog-navbar__hamburger__relative-cont__icon__bar-middle"></div>
                    </div>
                </div>
            </div>
        
            <div class="blog-navbar__position">
                <div class="blog-navbar__position__menu">
                    <div class="blog-navbar__position__menu__background"></div>
                    <div class="blog-navbar__position__menu__close-btn">
                        <div class="blog-navbar__position__menu__close-btn__icon"></div>
                    </div>
                    <ul>
                        <li class="blog-navbar__position__menu__item"><a href="#">Jelentkezes</a></li>
                        <li class="blog-navbar__position__menu__item"><a href="#">Rolunk</a></li>
                        <li class="blog-navbar__position__menu__item"><a href="#">Blog</a></li>
        
                        <li class="blog-navbar__position__menu__item"><a href="#">Ugyfelszolgalat</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section>
            <div class="bg">
                    <div class="title">Title Here</div>
                    <div class="desc">
                      <!-- I used CSS, but inline will serve well here -->
                      <div style="float: left; width: 0px; height: 120px"></div>
                      <div style="float: left; clear: left">
                        <img src="https://pfq-static.com/img/pkmn/q/4/r/8.png/t=1482399842" class="pkmn"/>
                      </div>
                      text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
                    </div>
                  </div>

</div>
    </section>
    <section class="container">
        <div class="row">
            <div class="logo-stripe col-btm-12">
                <div class="row">
                    <div class="col-btm-3">
                        <div class="logo-stripe__logo">
                            <img class="logo-stripe__logo__img" src="./mini-logo-100.png" alt=""> 
                        </div>
                    </div>
            
                    <div class="col-btm-8">
                        <div class="logo-stripe__brand">
                            <h3 class="logo-stripe__brand__site-name">ausztriaiallas.hu</h3>
                            <h4 class="logo-stripe__brand__email">info@ausztriaiallas.hu</h4>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <header class="jumbotron">
        <picture class="jumbotron__pictures">
                <source srcset="./jumbotron/jumbotron-1650-525.jpg" media="(min-width: 1200px)">
                <source srcset="./jumbotron/jumbotron-1200-409.jpg" media="(min-width: 992px)">
                <source srcset="./jumbotron/jumbotron-992-438.jpg" media="(min-width: 768px)">
                <source srcset="./jumbotron/jumbotron-768-403.jpg" media="(min-width: 647px)">
                <source srcset="./jumbotron/jumbotron-768-486.jpg" media="(min-width: 576px)">
                <source srcset="./jumbotron/jumbotron-700-381.jpg" media="(min-width: 419px)">
                <img class="jumbotron__pictures__img" srcset="./jumbotron/jumbotron-580-350.jpg">
        </picture>
    
        <div class="brand">
            <div class="brand__logo">
                <div class="brand__logo__background"></div>
                <img class="brand__logo__png" src="./logo-200.png" alt="ausztriai-allas-logo">
            </div>
    
            <div class="brand__slogen">
                <div class="brand__slogen__background"></div>
                <div class="brand__slogen__h3">360 ezret Ausztriaban vendeglatoskent?<br>Megcsinaljuk Neked!</div>
            </div>
        </div>
    </header>

    <section class="container main-info-area"> 
        <div class="row">

            <div class="info-feed col-btm-12 col-gutter-z-btm-both col-gutter-n-sm-both col-md-6 col-md-offset-1 col-gutter-z-md-left">

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="post post--hotel-list">
                    <div class="post__container">
                        <div class="post__container__header">
                            <h4 class="post__container__header__h4">Alpenland Sporthotel St. Johann im Pongau</h4>
                        </div>
                            
                        <div class="post__container__body">
                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Cím:</span>
                                Andreasgasse 1/8, 07. Neubau, 1070 Vienna, Austria
                            </p>

                            <p class="post__container__body__hotel_details">
                                <span class="post__container__body__hotel_details__span">Website:</span>
                                <a href="">http://www.airon.airporthotel.com</a>
                            </p>
                        </div> <!-- post__container__body clearfix -->
                    </div> <!-- post__container -->
                </div> <!-- post -->

                <div class="pagination clearfix">
                    <div class="pagination__left">
                        <button type="button" class="btn btn--block pagination__btn">
                            <i class="fas fa-arrow-left"></i>
                            0 - 10 
                        </button>
                    </div>
                    
                    <div class="pagination__right">
                        <button type="button" class="btn btn--block pagination__btn">
                            10 - 20
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <aside class="widgets col-btm-12 col-gutter-z-btm-both col-gutter-n-sm-both col-md-4 col-gutter-z-md-right">
                <div class="communication">
                    <div class="communication__header">
                        <h3 class="communication__header__h3 communication__header__h3--centered">Kérdezz tőlünk bátran</h3>
                    </div>
                
                    <div class="communication__flash-msgs"></div>
                    
                    <div class="communication__form">
                        <input class="communication__form__input" type="text" name="name" placeholder="teljes neved">
                        <input class="communication__form__input" type="text" name="email" placeholder="e-mail címed">
                        <input class="communication__form__input" type="text" name="phoneNumber" placeholder="telefonszamod">
                        <textarea class="communication__form__text-area" name="question" cols="30" rows="10" placeholder="Ha barmi kerdesed van irj nekunk itt es mi maximum par oran belul valaszolunk neked"></textarea>
                        <button type="button" class="btn btn--block communication__form__btn">Kuld el a kerdesed:)</button>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
    
                <div class="col-btm-12 col-xs-4 col-md-offset-1 col-gutter-md-right">
                    <div class="footer__info-item">
                        <img class="footer__info-item__img" src="./logo.png" alt="logo">  
                    </div>
                </div>
    
                <div class="col-btm-12 col-xs-4 col-gutter-md-left">
                    <div class="footer__info-item">
                        <h4 class="footer__info-item__title">Elérhetőség</h4>
                        <ul class="footer__info-item__ul">
                            <li><strong>Email:</strong> bgfkszmsdeli@gmail.com</li>
                            <li><strong>tel:</strong> 0630 58399 44</li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-btm-12 col-xs-3">
                    <div class="footer__info-item">
                        <h4 class="footer__info-item__title">Linkek</h4>
                        <ul class="footer__info-item__ul">
                            <li><a class="footer__info-item__ul__a" href="#">About Us</a></li>
                            <li><a class="footer__info-item__ul__a" href="#">Blog</a></li>
                            <li><a class="footer__info-item__ul__a" href="#">Impressum</a></li>
                        </ul>
                    </div>
                </div>
    
            </div> <!-- row end -->
        </div> <!-- contianer end -->
    </footer>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="./home-view-bundled.js"></script>
</body>
</html>